{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="choropleth__intro">
        <h1>Percent change in poverty rate by county</h1>
        <p>
          52 of the 53 counties with reliable data had increases in the poverty rate between 2007 and 2014.
        </p>
      </div>
    </div>
    <div class="row">
      <div id="choropleth" class="choropleth js-choropleth" data-url="data/insecure-data.csv"></div>
    </div>
    <div class="row legend__outer">
      <!-- legend rendered here -->
    </div>
    <div class="row">
      <p class="citations__source">
        Sources: Quarterly Census of Employment and Wages, Bureau of Labor Statistics; Florida International University Metropolitan Center
      </p>
      <p class="citations__credit">CHRIS WILLIAMS cwilliams@miamiherald.com</p>
    </div>
    <div class="row">
      <div class="citations__border"></div>
    </div>
  </div>
{% endblock %}
