{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="choropleth__intro">
        <h1>Change in income by quintile for 2007-2014</h1>
        <p>
           Of the 53 counties with reliable income data, 44 of them saw an increase in the gap between the wealthiest residents and the poorest.
        </p>
      </div>
    </div>
    <div class="row">
      <div id="choropleth" class="choropleth js-choropleth" data-url="data/insecure-data.csv"></div>
    </div>
    <div class="row">

    </div>
    <div class="row legend__outer">
        <!-- legend rendered here -->
    </div>
    <div class="row">
      <p class="citations__source">
        Sources: Quarterly Census of Employment and Wages, Bureau of Labor Statistics; Florida International University Metropolitan Center
      </p>
      <p class="citations__credit">CHRIS WILLIAMS cwilliams@miamiherald.com</p>
    </div>
    <div class="row">
      <div class="citations__border"></div>
    </div>
  </div>
{% endblock %}
