$info-margin-bottom: 0.2rem;

.county {
  fill: none;
  stroke: $white;
  stroke-width: 0.5px;

  &--null {
    fill: $grey;
  }

  &.is-active {
    stroke: $black;
  }
}

.choropleth {
  margin-bottom: 1.25rem;

  &__intro {
    text-align: left;
    margin-bottom: 1rem;
  }
}
