.legend {
  position: relative;
  display: block;
  margin: 1rem auto;

  @include media($medium-screen-up) {
    @include position(absolute, 200px null null null);
  }

  max-width: 400px;

  &__outer {
    position: relative;
  }
}
