.tooltip {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -100%);
  pointer-events: none;
  padding: 0.25em 0.5em;
  font-size: rem(16);
  color: $white;
  background-color: rgba($black, 0.8);
  border: em(1) solid $black;
  border-radius: rem(5);
  opacity: 0;
  transition: opacity 0.3s linear;
  font-family: $heading-font-family-sans;
  min-width: em(100);
  max-width: em(200);
  @include media($medium-screen-up) {
    padding: 0.5em 1em;
    min-width: none;
    max-width: em(250);
  }

  &__quintile--title,
  &__quintile,
  &__county {
    margin-bottom: $info-margin-bottom;
  }

  &__quintile--title,
  &__county--title {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-top: 0.7rem;
    color: #AAA;
  }

  &.is-active {
    opacity: 1;
  }
}
